.markdown-embed-link{
  display: none !important;
}

.markdown-embed{
  display: contents !important;
}

body, p, a, .callout-title-inner, li {
    font-family: "Heliotrope 3", sans-serif !important;
}

.callout[data-callout="references"] {
  --callout-color: 99, 71, 214;
  --callout-icon: lucide-book-copy;
}