{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
            </a>
            <a href="/IITGN" style="text-decoration: none;">
                <p style="margin: 15px !important;">IITGN</p>
            </a>
            <a href="/NPTEL" style="text-decoration: none;">
                <p style="margin: 15px !important;">Online</p>
            </a>
            <a href="/Informal" style="text-decoration: none;">
                <p style="margin: 15px !important;">Informal</p>
            </a>
            <a href="/Miscellaneous" style="text-decoration: none;">
                <p style="margin: 15px !important;">Miscellaneous</p>
            </a>
            <a href="/Problems" style="text-decoration: none;">
                <p style="margin: 15px !important;">Problems</p>
            </a>
            <a href="/Talks" style="text-decoration: none;">
                <p style="margin: 15px !important;">Talks</p>
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}