{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
            </a>
            <a href="IITGN" style="text-decoration: none;">
                <h4 style="margin: 15px !important;">IITGN</h4>
            </a>
            <a href="NPTEL" style="text-decoration: none;">
                <h4 style="margin: 15px !important;">Online</h4>
            </a>
            <a href="Informal" style="text-decoration: none;">
                <h4 style="margin: 15px !important;">Informal</h4>
            </a>
            <a href="Miscellaneous" style="text-decoration: none;">
                <h4 style="margin: 15px !important;">Miscellaneous</h4>
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}